body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #FAF3E0;
  color: #333;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  
}

.header {
  background: #A37A74;
  color: #FFFFFF;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plant-images {
  position: relative;
  width: 100%;
  margin: 0 auto; /* Centers the element */
}

.heading02 {
    color: darkolivegreen;
    position: absolute;
    top: -5%;
    width: 100%;
    text-align: center;


}

.heading03 {
    color: darkslategrey;
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
}

.header-title {
  font-size: 24px;
}

.navigation a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}



.navigation a.active,
.navigation a:hover {
  background-color: #8C6450;
}

.intro {
  background: #D9C3B0;
  padding: 50px 20px;
  text-align: center;
}

    .intro h1 {
        margin: 0;
    }

.intro p {
  margin: 15px 0;
}

.intro02 {
    background: #FAF3E0;
    padding: 50px 20px;
    text-align: center;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #A37A74;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    text-align: center;
}

.cta-button02 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #A37A74;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    text-align: center;
}

.cta-button:hover {
  box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.footer {
  background: #333333;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


/* Add more CSS as needed for responsive design, typography, etc. */
/*need for about us page*/
/* Style for the team member profiles */
.team-member {
  background: #ffffff;
  border-left: 5px solid #333333;
  margin: 20px 0;
  padding: 20px;
  overflow: auto; /* For clearing the float */
}

.team-member img {
  float: left;
  border-radius: 50%;
  margin-right: 15px;
}

.team-member h2 {
  margin: 0 0 10px;
}

.team-member p {
  margin: 0;
  font-size: 0.9em;
}

/* Style for the logical data model section */
.logical-data-model {
  margin-top: 40px;
}

.logical-data-model img {
  width: 100%; /* Makes the image responsive */
  height: auto;
  display: block; /* Fixes any inline issues */
  margin: 20px 0;
}
.team-member img {
  float: left;
  width: 80px; /* Decreased from 100px */
  height: 80px; /* Ensure this is the same as width for a circle */
  border-radius: 50%; /* Circular images */
  margin-right: 15px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}



/* here added style for button */
/* Buy Button Styles */
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
